@import '~@fluentui/react/dist/sass/References.scss';

.cleanDocs {
  overflow: hidden;
  padding: 1em;
  color: "[theme:bodyText, default: #323130]";

  &.teams {
    font-family: $ms-font-family-fallbacks;
  }
}

.cleanDocs ul {
  list-style: none;
  margin: 0;
  padding: 0;
  font-size: 0.84rem;

  li {
    margin: 0 0 0.85em;
    padding: 0;
  }

  li:last-child {
    margin-bottom: 0;
  }

  a {
    display: inline-block;
    max-width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

.docItem {
  display: block;
}

.docLink {
  display: inline-block;
  max-width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 1.15;
}

.docDescription {
  margin-top: 0.05em;
  color: "[theme:bodyText, default: #323130]";
  font-size: 0.95em;
  line-height: 1.2;
}

.titleBar {
  background-color: "[theme:themePrimary, default: #0078d4]";
  color: "[theme:white, default: #ffffff]";
  font-size: 1rem;
  font-weight: 600;
  margin: -1em -1em 0.75em;
  padding: 0.6em 0.9em;
}

.welcome {
  text-align: center;
}

.welcomeImage {
  width: 100%;
  max-width: 420px;
}

.links {
  a {
    text-decoration: none;
    color: "[theme:link, default:#03787c]";

    &:hover {
      text-decoration: underline;
      color: "[theme:linkHovered, default: #014446]";
    }
  }
}